---
import { Linkedin, Github, Twitter, Globe } from "@lucide/astro";
import Tag from "./Tag.astro";

const { organizer } = Astro.props;
---

<div
  class="group flex flex-col gap-4 rounded-2xl border border-gray-200 p-6 shadow-sm transition-all hover:shadow-md"
>
  <img
    src={organizer.avatar}
    alt={organizer.name}
    width={96}
    height={96}
    class="mx-auto h-32 w-32 rounded-sm"
    loading="lazy"
  />
  <h3 class="text-primary text-center text-2xl font-semibold">
    {organizer.name}
  </h3>
  <p class="text-google-blue mx-auto text-xl font-medium">{organizer.role}</p>
  <p class="text-secondary line-clamp-3 text-center text-lg">{organizer.bio}</p>
  <div class="flex flex-wrap justify-center gap-2">
    {organizer.tags.map((tag) => <Tag label={tag} />)}
  </div>
  <div class="text-secondary mt-auto flex justify-center gap-3">
    {
      organizer.links.linkedin && (
        <a
          href={organizer.links.linkedin}
          aria-label="LinkedIn"
          target="_blank"
        >
          <Linkedin size={18} class="hover:text-google-blue" />
        </a>
      )
    }
    {
      organizer.links.twitter && (
        <a href={organizer.links.twitter} aria-label="Twitter" target="_blank">
          <Twitter size={18} class="hover:text-google-blue" />
        </a>
      )
    }
    {
      organizer.links.github && (
        <a href={organizer.links.github} aria-label="GitHub" target="_blank">
          <Github size={18} class="hover:text-google-blue" />
        </a>
      )
    }
    {
      organizer.links.web && (
        <a href={organizer.links.web} aria-label="Website" target="_blank">
          <Globe size={18} class="hover:text-google-blue" />
        </a>
      )
    }
  </div>
</div>
