---
import { Linkedin, Github, Twitter } from "@lucide/astro";
const { volunteer } = Astro.props;
---

<div
  class="group flex flex-col justify-center gap-4 rounded-lg border border-gray-200 p-6 transition-all hover:shadow-md"
  data-area={volunteer.area}
>
  <img
    src={volunteer.avatar || "/placeholder.svg"}
    alt={volunteer.name}
    width={96}
    height={96}
    class="mx-auto h-24 w-24 rounded-full object-cover"
    loading="lazy"
  />

  <div class="text-center">
    <h3 class="text-primary text-center text-lg font-semibold">
      {volunteer.name}
    </h3>

    <p class="text-google-blue mx-auto text-sm font-medium">{volunteer.role}</p>
  </div>

  <p class="text-center">
    <span
      class="rounded-4xl bg-[#F3F4F6] px-[10px] py-[2px] text-xs font-semibold text-[#1F2937]"
    >
      {volunteer.area}
    </span>
  </p>

  <p class="text-secondary line-clamp-3 text-center text-sm">{volunteer.bio}</p>

  <div class="mt-auto flex justify-center gap-3 text-gray-500">
    {
      volunteer.links.linkedin && (
        <a
          href={volunteer.links.linkedin}
          aria-label="LinkedIn"
          target="_blank"
        >
          <Linkedin size={16} class="hover:text-google-blue" />
        </a>
      )
    }
    {
      volunteer.links.github && (
        <a href={volunteer.links.github} aria-label="GitHub" target="_blank">
          <Github size={16} class="hover:text-google-blue" />
        </a>
      )
    }
    {
      volunteer.links.twitter && (
        <a href={volunteer.links.twitter} aria-label="Twitter" target="_blank">
          <Twitter size={16} class="hover:text-google-blue" />
        </a>
      )
    }
  </div>
</div>
